:root {
  --primary-color: #0c0c0c;
  --secondary-color: #1a1a1a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: var(--primary-color);
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.6rem;
}
ul {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}
li {
  padding-left: 2rem;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
img {
  max-width: 100%;
}
header {
  background: var(--secondary-color);
}
nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h4 {
  font-weight: normal;
  font-size: 1rem;
}
.container .section {
  padding-left: 1rem;
}
.search {
  background: transparent;
  border: 0.5px solid var(--primary-color);
  border-radius: 20px;
  font-family: inherit;
  font-size: 1.4rem;
  color: #fff;
  padding: 0.8rem 1.2rem;
}

.search:focus {
  outline: none;
  background: var(--primary-color);
}

.popular {
  margin-top: 5rem;
}
main {
  margin-top: 5rem;
}
.movie {
  width: 250px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.rate {
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.movie-info {
  margin: 1rem;
  color: #a2a2a2;
}
.overview {
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #a2a2a2;
}
.overview h3 {
  color: white;
}
.movie:hover .overview {
  transform: translateY(0);
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}
#tags {
  width: 100%;
  background: var(--secondary-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#tags > div {
  border: 1px solid var(--primary-color);
  margin: 0.8rem 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  color: #a2a2a2;
  transition: all 0.3s ease-in-out;
}
/* #tags > div:hover {
  cursor: pointer;
  background: var(--secondary-color);
  color: red;
} */

#tags .highlight {
  background: var(--primary-color);
  color: white;
}
