:root {
  --primary-color: #0c0c0c;
  --secondary-color: #1a1a1a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: var(--primary-color);
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.6rem;
}
ul {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}
li {
  padding-left: 2rem;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
img {
  max-width: 100%;
}
header {
  background: var(--secondary-color);
  border-bottom: 1px solid red;
}
.logo {
  background: red;
  display: inline-block;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: "Righteous", cursive;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 400px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin: 0;
  }
}
h4 {
  font-weight: normal;
  font-size: 1rem;
}
.container .section {
  padding-left: 1rem;
}
.search {
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  font-family: inherit;
  font-size: 1.4rem;
  color: #fff;
  padding: 0.8rem 1.2rem;
  width: 100%;
}
.search::placeholder {
  color: wheat;
}
.search:focus {
  outline: none;
  background: var(--primary-color);
}

.popular {
  margin-top: 5rem;
}
main {
  margin-top: 5rem;
}
.movie {
  width: 250px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.rate {
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.movie-info {
  margin: 1rem;
  color: #a2a2a2;
}
.overview {
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #a2a2a2;
}
.overview h3 {
  color: white;
  margin: 0.5rem 0;
}
.movie:hover .overview {
  transform: translateY(0);
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}
#tags {
  width: 100%;
  background: var(--secondary-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#tags > div {
  border: 1px solid var(--primary-color);
  margin: 0.8rem 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  color: #a2a2a2;
  transition: all 0.3s ease-in-out;
}
#tags > div:hover {
  cursor: pointer;
}

#tags .highlight {
  background: var(--primary-color);
  color: red;
}

.pagination {
  display: flex;
  margin: 1rem 3rem;
  align-items: center;
  justify-content: center;
}
.page {
  padding: 2rem;
  cursor: pointer;
}

.page.disabled {
  cursor: not-allowed;
  color: grey;
}
.current {
  border-radius: 50%;
  border: 2px solid red;
  font-size: 1.5rem;
  font-weight: 600;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background: var(--secondary-color);
  height: 200px;
  font-size: 2rem;
  display: flex;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
footer p {
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
}
.footer-content li a {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}
.footer-content li a:hover {
  background: red;
}
.to-top {
  align-items: center;
  background: red;
  bottom: 0px;
  color: white;
  display: flex;
  font-size: 1.5rem;
  height: 6.6rem;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0px;
  text-decoration: none;
  transition: all 0.35s;
  width: 6.6rem;
}
.to-top:hover {
  background: var(--primary-color);
}
.to-top.active {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
